<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203543737793-ai1gso6tpua1ns4eksbpj7050i5s9k6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203543737793-ai1gso6tpua1ns4eksbpj7050i5s9k6a</string>
	<key>API_KEY</key>
	<string>AIzaSyAQq0u9vrFpvHDGY7niPXnzUpwknGi9GZg</string>
	<key>GCM_SENDER_ID</key>
	<string>203543737793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Oleksandr-Syurpita.FireBasePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-55c6f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-55c6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203543737793:ios:3daff406c2a85f0a6c2b40</string>
</dict>
</plist>